# Build artifacts
/server/build/
*.o
*.exe
*.out

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.Python
.env
.venv

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store/

# OS-specific
.DS_Store
Thumbs.db
